<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home | KedySon</title>
</head>
<body>
    <h1>KedySon Help You To Calculate Faith in Your Love..</h1>
    <p>Your Name Is: <%=u_name %></p>

    
    <form action="/crush" method="POST">
    <input type="" name="me" value=<%= u_name %>>
    <input type="text" name="myLove" placeholder="Put Your GirlFriend's Name" required>
    <button>Calculate</button>
    </form>
    <!-- <h1>Your Percent <%=u_name %></h1> -->
</body>
</html>