<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <p>Ok Change Your Love's Name</p>
    <form action="/update" method="POST">
    <input type="hidden" value="<%= ide %>" name="meId">
    <input type="text" name="me" value="<%= me %>">
    <input type="text" name="MyCrush" value=" <%= crush %>" id="">
    <button>I change</button>
    </form>
</body>
</html>